#container{
    width: 1200px;
    height: 800px;
    position: relative;
    background: yellow;
}
#object1{
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
    border-radius: 50%;
    top: 250px;
    left: 300px; 
}
#object2{
    width: 50px;
    height: 50px;
    position: absolute;
    background: blue;
    top: 500px;
    left: 650px; 
    border-radius: 50%
}
.inline{
    display: inline-flex;
}
.colum{
    display: grid
}
#mainBody{
    text-align: center;
}
.padding20{
    padding: 20px;
}